<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Yelpcamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
        <nav class="navbar navbar-default bg-light">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">YelpCamp</a>
                    </div>
                    <div class="collapse nanvbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Login</a></li>
                            <li><a href="/">SignUp</a></li>
                            <li><a href="/">LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
               