<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Yelpcamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
        <nav class="navbar navbar-default bg-light navbar-expand-lg">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">YelpCamp</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav navbar-right">
                           <% if(currentUser){ %>
                                <li><a class="nav-link" href="#">Signed In as <%= currentUser.username%></a></li>
                                 <li class="nav-item">
                                <a class="nav-link" href="/logout">LogOut</a>   
                                </li> 
                        <%    } else{  %>
                                <li class="nav-item">
                                <a class="nav-link" href="/login">LogIn</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="/register">Sign Up</a>
                                </li>
                            <%}%>
                          
                          
                        </ul>
                      </div>
                </div>
            </nav>
               