<% include ../partials/header %>
<div class="container">

    <header class="jumbotron">
        <div class="container">
                <h1>Welcome homie</h1>
                <p>
                    Here are some places
                </p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/addCamp">Add a destination</a>    
        </div>
        
    </header>
    <div class="row text-center" style="display:flex; flex-wrap : wrap">
            <% campgrounds.forEach(function(campground){ %>
                <!-- <div class="col-md-6 col-sm-3">
                    <div class="img-thumbnail img-responsive"> -->
                <div class="card showCampCard">
                        <img class="card-img-top campImage img-fluid" alt="Some Image...:(" src="<%= campground.imageURL %>">
                        <% console.log(campground.imageURL)%>
                        <div class="card-body">
                            <h4><%= campground.name %></h4>
                        </div>
                    <!-- </div> -->
                        <div>
                            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More Info</a>
                        </div>
                </div>
            <% }) %>        
    </div>
    
    <br>
</div>

<% include ../partials/footer %>